<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 p-10">
<button><a href="{% url 'add_student' %}" class="bg-blue-500 text-white px-3 py-1 rounded border-gray-300">add student</a></button>
<h1 class="text-3xl font-bold mb-8 text-center">Students management system</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

{% for student in student_data %}

<div class="bg-white p-6 rounded-xl shadow flex justify-between items-center">

    <!-- Left Side (Student Info) -->
    <div>
        <h2 class="text-xl font-semibold mb-2">{{ student.name }}</h2>
        <p class="text-gray-600">Email: {{ student.email }}</p>
        <p class="text-gray-600 mb-4">Phone: {{ student.phone }}</p>

        <div class="flex gap-2">
            <a href="{% url 'update_student' student.id %}">
                <button class="bg-yellow-500 text-white px-3 py-1 rounded">Edit</button>
            </a>
            <a href="{% url 'delete_student' student.id %}">
                <button class="bg-red-500 text-white px-3 py-1 rounded">Delete</button>
            </a>
        </div>
    </div>

    <!-- Right Side (Student Image) -->
    <div>
        {% if student.image %}  <!-- ✅ FIX — pehle check karo image hai ya nahi -->
<img src="{{ student.image.url }}" class="w-20 h-20 rounded-full object-cover">
        {% else %}
            <div class="w-20 h-20 rounded-full bg-gray-300 flex items-center justify-center text-gray-500 text-sm">
                No Image
            </div>
        {% endif %}
    </div>

</div>

{% endfor %}
</div>

</body>
</html>